<%= link_to 'New Merchant', '/merchants/new' %>
<% @merchants.each do |merchant| %>
  <section id='merchant-<%= merchant.id %>'>
    <% if current_admin? %>
      <h2><%= link_to merchant.name, admin_merchant_path(merchant.id) %></h2>
      <%= button_to 'Disable', admin_merchant_path(merchant.id), method: :patch if merchant.enabled? %>
      <%= button_to 'Enable', admin_merchant_path(merchant.id), method: :patch if !merchant.enabled? %>
    <% else %>
      <h2><%= link_to merchant.name, merchant_path(merchant.id) %></h2>
    <% end %>
  </section>
<% end %>
