<h2>New Merchant</h2>
<%= form_tag '/merchants' do %>
  <ul>
  <%= label_tag :name %><br/>
  <%= text_field_tag :name %><br />
  </ul>
  <ul>
  <%= label_tag :address %><br />
  <%= text_field_tag :address %><br />
  </ul>
  <ul>
  <%= label_tag :city %><br />
  <%= text_field_tag :city %><br />
  </ul>
  <ul>
  <%= label_tag :state %><br />
  <%= text_field_tag :state %><br />
  </ul>
  <ul>
  <%= label_tag :zip %><br />
  <%= text_field_tag :zip %><br />
  </ul>
  <ul><%= submit_tag 'Create Merchant' %></ul>
<% end %>
