<h2>Edit Item</h2>
<%= form_tag "/merchant/items/#{@item.id}", method: :patch do %>
<ul>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
</ul>
<ul>
  <%= label_tag :description %>
  <%= text_field_tag :description %>
</ul>
<ul>
  <%= label_tag :price %>
  <%= text_field_tag :price %>
</ul>
<ul>
  <%= label_tag :image %>
  <%= text_field_tag :image %>
</ul>
<ul>
  <%= label_tag :inventory %>
  <%= text_field_tag :inventory %>
</ul>
<ul><%= submit_tag 'Update Item' %></ul>
<% end %>
