
<% @discounts.each do |discount| %>
  <div id="discount-<%=discount.id%>">
    <h3>Discount Name: <%= discount.name %></h3><br/>
    <ul>Discount Percentage: <%= discount.discount_percentage %>%</ul><br />
    <ul>Minimum Item Quantity: <%= discount.minimum_quantity %></ul><br />
    <p>
      <%= link_to 'Edit', path: edit_merchant_discount_path(discount.id) %> | 
      <%= link_to 'Delete', "/merchant/discounts/#{discount.id}", method: :delete%>
    </p>
  </div>
<%end%>